.portfolio {
  padding-bottom: 3rem;
  @include grid(3, 1.5rem);
  .box {
    height: 40rem;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: $box-shadow;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    span {
      position: absolute;
      top: 1rem;
      right: 2rem;
      font-weight: 600;
      font-size: 5rem;
      color: $primaryText;
      transition: all 0.5s ease;
    }
    .content {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 6rem;
      left: 0;
      transition-delay: 0.3s;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition-delay: 0.1s;
      h3 {
        font-size: 2.5rem;
        padding-bottom: 0.5rem;
        color: $primaryText;
      }
      p {
        font-size: 1.8rem;
        color: $secundaryText;
        padding: 0 2rem;
        text-align: center;
        line-height: 1.7;
        text-transform: none;
      }
      a {
        font-size: 2rem;
        color: $colorPrimary;
        font-weight: 700;
        padding-top: 2rem;
        transition: all 0.5s ease;
        &:hover {
          color: $primaryText;
          transition: all 0.5s ease;
        }
      }
      .btns {
        display: flex;
        align-items: center;
        text-align: center;
        .btn-1 {
          margin-left: 1rem;
        }
      }
    }
    &::before {
      height: 100%;
      width: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      clip-path: circle(30% at 93% 0);
      transition: 0.3s linear;
      transition: all 0.5s ease;
    }
    &:hover::before {
      clip-path: circle(100%);
      transition: all 0.5s ease;
    }
    &:hover span {
      font-weight: 700;
      transition: all 0.5s ease;
    }
    &:hover .content {
      top: 0;
      opacity: 1;
      transition-delay: 0.4s;
      transition: all 0.5s ease;
    }
  }

  @include tablet {
    @include grid(2, 1.5rem);
    .box {
      height: 30rem;
      span {
        font-size: 4rem;
      }
    }
  }
  @include telefono {
    display: flex;
    flex-flow: column;
    .box {
      margin-bottom: 1.5rem;
    }
  }
}
