.services {
  @include grid(3, 1.5rem);
  .box {
    background: #fff;
    overflow: hidden;
    box-shadow: $box-shadow;
    text-align: center;
    padding: 2rem;

    img {
      width: 10rem;
      object-fit: cover;
      padding: 2rem 0;
    }
    .content {
      h3 {
        font-size: 2.5rem;
        padding-bottom: 0.5rem;
        color: $primaryText;
      }
      p {
        font-size: 1.5rem;
        color: $secundaryText;
        padding: 1rem 0;
        text-align: center;
        line-height: 1.7;
        text-transform: none;
      }
      a {
        font-size: 2rem;
        color: $colorPrimary;
        font-weight: 700;
        display: none;
        &:hover {
          color: $primaryText;
        }
      }
    }
  }
  @include tablet {
    @include grid(2, 1.5rem);
  }
  @include telefono {
    display: block;
    .box {
      margin-bottom: 1.5rem;
    }
  }
}
