.header{
    position: sticky;
    top:0; left:0; right:0;
    background: #fff;
    box-shadow: $box-shadow;
    padding: 1.5rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
        .icon {
            font-size: 2rem;
            color: $colorPrimary;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            justify-content: center;
            align-items: center;
            border-radius: .5rem;
            font-weight: 700;
            margin-right: .2rem;
            padding: .5rem;
        }
        font-size: 2.5rem;
        color: $primaryText;
        text-transform: capitalize;
        font-weight: 500;
        display: flex;
        align-items: center;
        span{
            color: $colorPrimary;
            text-transform: capitalize;
            font-weight: 700;
        }
    }
    .header-navbar{
        display: flex;
    }
    .navbar{
        position: absolute;
        top: 115%; right: 7%;
        display: inline-block;
        background: $bg-color-1;
        border-radius: .5rem;
        box-shadow: $box-shadow;
        width: 25rem;
        transform:scale(0);
        transition: all .5s ease;
        transform-origin: top right;
        &.active{
            color: #fff;
            transform:scale(1);
            transition: all .5s ease;
        }
        a{
            display: flex;
            margin: 1rem;
            padding: 1rem;
            font-size: 1.8rem;
            color: $text-color-1;
            border-radius: .5rem;
            justify-content: space-between;
            transition: all .5s ease;
            
            .icon{
                display: inline-block;
            }
            &:hover{
                color: $colorPrimary;
                background: $bg-color-2;
                margin-left: 1.5rem;
                transition: all .5s ease;
            }
        }
        
    }
    
    .icons {
        display: flex;
        div{
        height:4.5rem;
        width:4.5rem;
        line-height:4.5rem;
        font-size: 2.5rem;
        border-radius: .5rem;
        margin-left: 1rem;
        background: $bg-color-2;
        color: $primaryText;
        cursor: pointer;
        text-align: center;
        
        &:hover{
            color:#fff;
            background: $colorPrimary;
            
        }
    }}
    
@include tablet{
    
    // .navbar{
    //     position: absolute;
    //     top: 115%; right: -30rem;
    //     display: inline-block;
    //     background: $bg-color-1;
    //     border-radius: .5rem;
    //     box-shadow: $box-shadow;
    //     width: 20rem;
    //     transition: all .5s ease;
    //     &.active{
    //         color: #fff;
    //         right: 1.5rem;
    //         transition: all .5s ease;
    //     }
    //     a{
    //         display: flex;
    //         margin: 1rem;
    //         right: -30rem;
    //         font-size: 1.7rem;
    //         color: $text-color-1;
    //         border-radius: .5rem;
    //         justify-content: space-between;
    //         transition: all .5s ease;
    //         .icon{
    //             display: inline-block;
    //         }
    //         &:hover{
    //             // color: $orange;
    //             // background: $bg-color-2;
    //             // margin-left: 1.5rem;
    //             transition: all .5s ease;
    //         }
    //     }
        
    // }
}
}