// /* Modal */
// .ReactModalPortal > div{
//     opacity: 0;
// }

// .ReactModalPortal .ReactModal__Overlay {
//     align-items: center;
//     display: flex;
//     justify-content: center;
//     transition: opacity .2s ease-in-out;
//     z-index: 999;
// }

// .modal-fondo {
//     background-color: rgba(0, 0, 0, 0.3);
//     bottom: 0;
//     left: 0;
//     right: 0;
//     top: 0;
//     position: fixed;
// }

// .ReactModalPortal .ReactModal__Overlay--after-open {
//     opacity: 1;
// }

// .ReactModalPortal .ReactModal__Overlay--before-close {
//     opacity: 0;
// }

// .modal {
//     background: white;
//     border-radius: 5px;
//     color: rgb(51, 51, 51);
//     width: 80rem;
//     height: auto;
//     max-height: 60rem;
//     max-width: 50rem;
//     outline: none;
//     padding: 2rem;
//     display: none;
//     form{
//         flex: 1 1 40rem;
        
//         border-radius: .5rem;
//         background: #fff;
//         .inputBox{
//           display: flex;
//           justify-content: space-between;
//           flex-wrap: wrap;
//           align-items: center;
//           label{
//             font-size: 1.7rem;
//           }
//         }
//         .inputBox input,
//         textarea{
//           // box-shadow: 0 .5rem 1rem rgba(0,0,0,.05);
//           width: 100%;
//           border-radius: .5rem;
//           font-size: 1.7rem;
//           color: #333;
//           padding: 1rem;
//           margin: 1rem 0;
//           border: .1rem solid rgba(0,0,0,.1);
//           text-transform: none;
//         }
        
//         .inputBox input {
//           width: 75%;
//         @include tablet{
//           width: 100%;
//         }
//         }
//         textarea{
//           height: 20rem;
//           resize: none;
//         }
//         .btn{
//           margin: .5rem 0;
//         }
//     }
// }
// .modal-open{
//   display: inline;
// }
.modal{
  background-color: rgba(0,0,0, .75);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  .content{
    background: #fff;
    border-radius: 5px;
    display: inline;
    padding: 2rem;
    width: 80rem;
    height: auto;
    h1{
      text-align: center;
      font-size: 2rem;
      margin-bottom: 1rem;
    }

  }
@include tablet{
  .content{
    width: 50rem;
    height: auto;
  }
}
@include telefono{
  .content{
    width: 30rem;
    height: auto;
  }
}
}
.modal-open{
  display: grid;
}