/** Media Queries **/
@mixin fold {
    @media (max-width: #{$fold}) {
        @content;
    }
}
@mixin telefono {
    @media (max-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}
@mixin titleText($titleSize) {
    font-size: $titleSize;
    text-transform: capitalize;
    color:$primaryText;
}

@mixin graphText($graphSize) {
    font-size: $graphSize;
    line-height: 2;
    color:$secundaryText;
}

