@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

//

// Tamaño de Media Queries
$desktop: 1280px;
$tablet: 768px;
$telefono: 540px;
$fold: 375px;

// Colores
$primaryText:#212121;
$secundaryText:#757575;
$colorPrimary: #FF9800;

$orange:#F79F1F;
$text-color-1:#444;
$text-color-2:#666;
$bg-color-1:#fff;
$bg-color-2:#eee;
$box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);

$text-color-b1:#fff;
$text-color-b2:#eee;
$bg-color-b1:#333;
$bg-color-b2:#222;
$box-shadow-b:0 .5rem 1.5rem rgba(0,0,0,.4);

